@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 50px;
}
body{
    background-image: url('https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjJ8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
    background-size: cover;
}
.parentdiv{
     
    
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
}
.Circle{
     height: 35em;
     width: 35em;
     border-radius: 25em;
     background-color:white ;
     display: flex;
     flex-direction: column;
     box-shadow: 2px 2px 20 grey;
     
}

.Display{
    margin-top: 100px;
     height: 100px;
     width: 350px;
     background-color: white;
     border-color: #8a9dff;
     border-style: solid;
     border-width: 5px;
     border-radius: 10px;
     box-shadow: 2px 2px 5px grey;
}

.new_row{
    display: flex;
    justify-content: space-evenly;

}
.startbtn{
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    font-size: xx-large;
    background-image: url('https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjJ8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
    border-style: none;
    background-position: center;
    color:white;
    padding: 20px;
    border-radius: 10px;
}

.circlebtns{
    font-family: 'Poppins', sans-serif;
        margin-top: 50px;
        height: 70px;
        width: 70px;
        font-size: 50px;
        background-image: url('https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjJ8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
        border-style: none;
        border-radius: 500px;
        color:white;

}
.leftbtn
{
    background-position: left;
}
.rightbtn
{
    background-position:top;

}
.circlebtns:hover{
    background-blend-mode:luminosity;
  
}
.startbtn:hover{
    background-blend-mode:luminosity;
   
}
#numtxt{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
   
}

